{% include 'header.html' %}
      <table id="portal-columns">
        <tbody>
          <tr>
            <td id="portal-column-content">
                <div class="">
                  <div id="region-content" class="documentContent">
                    <span id="contentTopLeft"></span>
                    <span id="contentTopRight"></span>
                    <a name="documentContent"></a>
    <dl class="portalMessage info" id="kssPortalMessage" style="display:none">
        <dt>Info</dt>
        <dd></dd>
    </dl>
                    <div id="viewlet-above-content"></div>
                    <div id="content">
        <h1 class="documentFirstHeading"> 
        <span class="" id="parent-fieldname-title">
            Comunitatea Firebird România 
        </span>
        </h1>
        <p class="documentDescription">
        <span class="" id="parent-fieldname-description">
            Modul de organizare si date de contact 
        </span>
        </p>

        
        <div class="" id="parent-fieldname-text">
            
<p><span class="Apple-style-span">Comunitatea Firebird România sprijina traducerea documentaţiei in<br />limba româna si promovarea SGBD-ului Firebird in România. Este<br />organizata intr-un grup google unde oricine poate aplica pentru a fi<br />membru si se poate folosi atat interfaţa web cat si prin email (ca<br />lista de discuţii)</span><br /><br /><a class="external-link" href="http://groups.google.com/group/firebird-ro">http://groups.google.com/group/firebird-ro</a></p>

            
        </div>
    

        <div class="relatedItems">
    
        
            
        
    
</div>
    

                    </div>
                    

                    
                    
                      
    




                    
                    

                    <span id="contentBottomLeft"></span>
                    <span id="contentBottomRight"></span>

                  </div>

                </div>

              
            </td>
          </tr>
        </tbody>
      </table>
      

{% include 'footer.html' %}

