{% include 'header.html' %}
      <table id="portal-columns">
        <tbody>
          <tr>
            
            <td id="portal-column-one">
              <div class="visualPadding">
                
                  
<div id="portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f666972656269726473716c726f0a6e617669676174696f6e"
     class="portletWrapper kssattr-portlethash-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f666972656269726473716c726f0a6e617669676174696f6e">
<dl class="portlet portletNavigationTree">

    <dt class="portletHeader">
        <span class="portletTopLeft"></span>
        <a href="http://firebirdsql.ro/download/sitemap"
           class="tile">Navigare</a>
       
        <span class="portletTopRight"></span>
    </dt>

    <dd class="portletItem lastItem">
        <ul class="portletNavigationTree navTreeLevel0">
            
            



<li class="navTreeItem visualNoMarker">

    

      <div>

        <a href="http://firebirdsql.ro/sgdb-firebird"
           class="state-published"
           title="Sistem de Gestiune al Bazelor de Date Firebird">
            <img width="16" height="16" src="http://firebirdsql.ro/images/document_icon.gif" alt="Document" />
            <span>SGBD Firebird</span>
        </a>
        
    </div>

    
    
</li>


<li class="navTreeItem visualNoMarker">

    

      <div>

        <a href="http://firebirdsql.ro/download/firebird-.net-data-provider"
           class="state-published" title="">
            <img width="16" height="16" src="http://firebirdsql.ro/images/document_icon.gif" alt="Document" />
            <span>Firebird .NET Data Provider</span>
        </a>
        
    </div>

    
    
</li>




        </ul>
        <span class="portletBottomLeft"></span>
        <span class="portletBottomRight"></span>
    </dd>
</dl>

</div>




                
                &nbsp;
              </div>
            </td>
            

            
            <td id="portal-column-content">

              
                <div class="">

                  


                  <div id="region-content" class="documentContent">

                    <span id="contentTopLeft"></span>
                    <span id="contentTopRight"></span>
                    
                    <a name="documentContent"></a>

                    

    <dl class="portalMessage info" id="kssPortalMessage" style="display:none">
        <dt>Info</dt>
        <dd></dd>
    </dl>


                    
                    <div id="viewlet-above-content"></div>

                    
                    
                    <div id="content">
                      
                      <div>
    

        

        
        
        <h1 id="parent-fieldname-title"
            class="documentFirstHeading">
            Download
        </h1>
        
        
        

        


        
        
        <div id="parent-fieldname-description" class="">
           <p class="documentDescription">Dacă sunteţi novice în utilizarea Firebird, înainte de a descărca kit-ul de instalare citiţi 'notiţele' versiunii!

</p>
        </div>
        
        
        

        

        

        
        
        

            <dl>
                
                

                    <dt class="">


                        <span class="documentByLine">

                            

                            
                        </span>

                    </dt>

                    <dd>
                         
                            &nbsp; 
                         
                        <span class="description"></span> 
                    </dd>
                
                
                
                

                    <dt class="">

                        <span
    class="contenttype-document summary">
                            <img width="16" height="16" src="http://firebirdsql.ro/images/document_icon.gif" alt="Document" />
                            <a
    href="http://firebirdsql.ro/sgdb-firebird"
    class="state-published url">SGBD Firebird</a>
                        </span>

                        

                        <span class="documentByLine">

                            

                            
                        </span>

                    </dt>

                    <dd>
                         
                        <span class="description">Sistem de Gestiune al Bazelor de Date Firebird</span> 
                    </dd>
                
                
                
                


                        

                        <span class="documentByLine">

                            

                            
                        </span>

                    </dt>

                    <dd>
                         
                        <span class="description"> </span> 
                    </dd>
                
                
                
                

                    <dt class="">

                        <span
    class="contenttype-document summary">
                            <img width="16" height="16" src="http://firebirdsql.ro/images/document_icon.gif" alt="Document" />
                            <a
    href="http://firebirdsql.ro/firebird-.net-data-provider"
    class="state-published url">Firebird .NET Data Provider</a>
                        </span>

                        

                        <span class="documentByLine">

                            

                            
                        </span>

                    </dt>

                    <dd>
                         
                            &nbsp; 
                         
                        <span class="description"></span> 
                    </dd>
                
                
                
                


                    <dd>
                         
                            &nbsp; 
                         
                        <span class="description"></span> 
                    </dd>
                
                
            </dl>
            
            <!-- Navigation -->
            

    
    </div>
                    </div>
                    

                    
                    
                      
    




                    
                    

                    <span id="contentBottomLeft"></span>
                    <span id="contentBottomRight"></span>

                  </div>

                </div>

              
            </td>
            

            
            <td id="portal-column-two">
              <div class="visualPadding">
                
                  
</div>
            </td>
          </tr>
        </tbody>
      </table>
{% include 'footer.html' %}

