
 <tr>
  <td height="75" class="tborder_cf bborder_cf bgff"><img src="/img/site/vid.gif" alt="" /></td>
  <td class="tborder_cf bborder_cf bgff" valign="middle"><table cellspacing="0" cellpadding="0" border="0" width="100%"><tr>
 <td align="left">   
             
      <a href="http://www.firebirdsql.org/en/start/" class="c45 tbold lpad5 rpad5 txt_nund size11">Home</a>      
         
      <a href="http://www.firebirdsql.org/en/about-firebird/" class="c45 tbold lpad5 rpad5 txt_nund size11">About Firebird</a>      
         
      <a href="http://www.firebirdsql.org/en/documentation/" class="c45 tbold lpad5 rpad5 txt_nund size11">Documentation</a>      
         
      <a href="http://www.firebirdsql.org/en/downloads/" class="c45 tbold lpad5 rpad5 txt_nund size11">Downloads</a>      
         
      <a href="http://www.firebirdsql.org/en/community/" class="c45 tbold lpad5 rpad5 txt_nund size11">Community</a>      
         
      <a href="http://www.firebirdsql.org/en/support/" class="c45 tbold lpad5 rpad5 txt_nund size11">Support</a>      
         
      <a href="http://www.firebirdsql.org/en/development/" class="c45 tbold lpad5 rpad5 txt_nund size11">Development</a>      
         
      <a href="http://www.firebirdsql.org/en/case-studies/" class="c45 tbold lpad5 rpad5 txt_nund size11">Case Studies</a>      
           
 </td>
 
 <td align="right" class="rpad10"><a href="#top" class="c78 size11">Back to Top</a></td>
 
</tr></table></td>
  <td class="tborder_cf bborder_cf bgff"><img src="/img/site/vid.gif" alt="" /></td>
 </tr>
 <tr>
  <td height="50" class="tborder_ff"><img src="/img/site/vid.gif" alt="" /></td>
  <td class="tborder_ff" valign="middle"><div class="rpad10">
<table width="100%"><tr>
 <td class="rpad5" width="30%"><span class="c76 size11">Aceste site si conţinutul din pagini au Copyright © 2000-2014, Firebird Project.
-Firebird ® este o marcă înregistrată a Fundaţiei Firebird</span></td>
 <td class="rpad5 lpad5" width="30%">
       </td>
 <td align="right" width="10%"><span class="c76 size11">Developed by</span> <a href="http://www.dqteam.com/" class="size11" target="_blank">DQ Team</a>.</td>
</tr></table>
</div></td>
  <td class="tborder_ff"><img src="/img/site/vid.gif" alt="" /></td>
 </tr>
 
</table>
</body>
</html>
