<div>
	<div id="coada">
	<p>
    	Acest site foloseste Django Versiunea:{{ django_version }}:
        <a href="http://www.djangoproject.com/"><img src="http://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
        <a href="http://www.djangoproject.com" class="ponybadge" title="Magic! Ponies! Django! Whee!"><img src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="pony powered"></a>
	</p>
	<p>
    	Si Baza de Date Relationala:
	<a href="http://www.firebirdsql.org"><img src="http://firebirdsql.ro/images/sb_firebird.png"></a>.
	</p>
	<p>
<a href="http://sourceforge.net/projects/firebird"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=9028&amp;type=11" width="120" height="30" border="0" alt="Get Firebird at SourceForge.net. Fast, secure and Free Open Source software downloads"></a> 
	</p>
	</div>
	
</div>
</body>
</html>
