<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ro"
      lang="ro"> 
  <head> 
    <meta http-equiv="Content-Type"
          content="text/html;charset=utf-8" /> 
      <script type="text/javascript"
              src="http://code.jquery.com/jquery-1.8.2.js">
      </script> 
      <style type="text/css"><!-- @import url(http://firebirdsql.ro/css/new.css); --></style> 
      <style type="text/css"><!-- @import url(http://firebirdsql.ro/css/base-cachekey1050.css); --></style> 
  </head>
<title>Bun venit pe site-ul comunităţii utilizatorilor Firebird din România &mdash; FirebirdSQL dot RO</title> 
<div id=continut>
    <link rel="shortcut icon" type="image/x-icon"
          href="http://firebirdsql.ro/favicon.ico" /> 
<a href="http://firebirdsql.org/index.php?id=happy_birthday"> <img src=http://firebirdsql.org/img/site/fierbird.jpg></a>
<div id=gat>
    <ul id="portal-globalnav">
        <li id="home" class="plain">
            <a href="http://firebirdsql.ro" id="shiny-demo-2">Acasa</a></li>
        <li id="about" class="plain">
            <a href="http://firebirdsql.ro/about" id="shiny-demo-2">Despre Firebird</a></li>
        <li id="download" class="plain">
            <a href="http://firebirdsql.ro/download" id="shiny-demo-2"
               title="Dacă sunteţi novice în utilizarea Firebird, înainte de a descărca kit-ul de instalare citiţi 'notiţele' versiunii.
">Download</a></li>
        <li>
            <a href="http://firebirdsql.ro/resurse" id="shiny-demo-2"
               title="Documentaţie, articole, ....  ">Documentatie</a></li>
<li>
            <a href="http://firebirdsql.ro/comunitatea-firebird-romania" id="shiny-demo-2"
               title="Date de contact, adrese de mail ">Comunitate</a></li>

  <li id="suport">
            <a href="http://firebirdsql.ro/suport" id="shiny-demo-2"
               title="Raporteaza defectele , adauga functii noi, cauta ajutor ">Suport</a></li>

<li id="development">
            <a href="http://firebirdsql.ro/development" id="shiny-demo-2"
               title="Raporteaza defectele , adauga functii noi, cauta ajutor ">Dezvoltare</a></li>
   
       
            </ul>

</div>

