{% include 'header.html' %}
<table id="portal-columns">
  <tbody>
    <tr>
      <td id="portal-column-content">
         <div class="">
           <div id="region-content" class="documentContent">
                <span id="contentTopLeft"></span>
                <span id="contentTopRight"></span>
                 <a name="documentContent"></a>
                  <div id="content">
        <h1 class="documentFirstHeading"> 
        <span class="" id="parent-fieldname-title">
            Bun venit pe site-ul comunităţii utilizatorilor Firebird din România</span>
        </h1>
        
 		<a id="shiny-demo-2" class="demo-button" href=http://firebirdsql.org/index.php?op=files&id=engine_250>Download Firebird 2.5</a>
       <div class="" id="parent-fieldname-text">
<h2>Firebird</h2>
<p>Ce este Firebird? Firebird este un sistem de gestiune al bazelor de date (SGBD) relational, gratuit, open source, disponibil pe o varietate de platforme (sisteme de operare Linux, Windows, Solaris, MacOS X, Hp-UNIX).</p>
<p>O mica descriere gasiti aici: <a class="external-link" href="http://www.firebirdnews.org/docs/fb2min_ro.html">introducere <br /></a></p>

<a href="http://www.mindthebird.com" target="_blank"><img src="http://www.mindthebird.com/bnr2/470x60w.gif" alt="Mindthe bird campaign" border="0" /></a>

<a href="http://feeds.feedburner.com/~r/FirebirdNews/~6/1"><img style="border:0" src="http://feeds.feedburner.com/FirebirdNews.1.gif" alt="Firebird News" /></a>          

<a href="http://www.eliberatica.ro/2009/events/romanian-free-software-teams" target="_blank"><img src="http://www.eliberatica.ro/2009/2009-images/logo-eLiberatica-2009-200x100.gif" alt="eLiberatica 2009 - The Benefits of Open and Free Technologies Conference" border="0" /></a>

       </div>
                    </div>
                    
                    <span id="contentBottomLeft"></span>
                    <span id="contentBottomRight"></span>
                  </div>
                </div>
            </td>
            <td id="portal-column-two">
              <div class="visualPadding">
<div id="portletwrapper"
     class="portletWrapper">
  <dl class="portlet portletNews">

    <dt class="portletHeader">
        <span class="portletTopLeft"></span>
        <a href="http://firebirdsql.ro/news" class="tile">Stiri</a>
        <span class="portletTopRight"></span>
    </dt>
<dd class="portletItem odd">

        <a href="http://www.mindthebird.com/downloadmtb.html"
           class="tile"
           title="Banere noi pentru campania MindTheBird">
		Banere noi pentru campania MindTheBird
            <span class="portletItemDetails">29 Noiembrie 2010</span>
        </a>
    </dd>
<dd class="portletItem even">
        <a href="http://www.agora.ro/stire/firebird-25-introduce-noi-facilitati"
           class="tile"
           title="Articol pe agora.ro: Firebird 2.5 introduce noi facilităţi ">
            Articol pe agora.ro: Firebird 2.5 introduce noi facilităţi 
            <span class="portletItemDetails">29 Octombrie 2010</span>
        </a>
    </dd>
<dd class="portletItem odd">
        <a href="http://fii-liber.ro/toamna-se-numara-bobocii-firebird-25"
           class="tile"
           title="Articol pe fii-liber.ro:Toamna se numără bobocii: Firebird 2.5">
            Articol pe fii-liber.ro:Toamna se numără bobocii: Firebird 2.5
            <span class="portletItemDetails">22 Octombrie 2010</span>
        </a>
    </dd>
    <dd class="portletItem even">
        <a href="http://docs.google.com/View?id=ddzwj4jw_206f7f9m2db"
           class="tile"
           title="Firebird 2.5 a fost lansat, noua versiune introduce noi facilităţi de audit şi scalabilitate îmbunătăţită.">
            Firebird 2.5 a fost lansat, noua versiune introduce noi facilităţi de audit şi scalabilitate îmbunătăţită.
            <span class="portletItemDetails">10 Octombrie 2010</span>
        </a>
    </dd>
    <dd class="portletItem odd">
        <a href="http://www.firebirdnews.org/?p=4647"
           class="tile"
           title="Toate materialele pt promovarea lansarii Firebird cu versiune 2.5 sunt traduse si in limba romana">
            Toate materialele pt promovarea lansarii Firebird cu versiune 2.5 sunt traduse si in limba romana 
            <span class="portletItemDetails">31 August 2010</span>
        </a>
    </dd>
    <dd class="portletItem even">
        <a href="http://camp.softwareliber.ro/2010/membri"
           class="tile"
           title="Comunitatea Firebirdsql.ro a participat si co-organizeazat Flosscamp 2010">
            Comunitatea Firebirdsql.ro a participat si co-organizat Flosscamp 2010 
            <span class="portletItemDetails">2010-08-10</span>
        </a>
    </dd>
 


    <dd class="portletItem odd">

        <a href="http://www.osn.ro/carousel/firebird-in-2-minute-disponibil-in-18-limbi/"
           class="tile"
           title="‘Firebird în 2 minute’ versiunea 1.3 disponibil în 18 limbi">
            Documentul ‘Firebird în 2 minute’ V.1.3 este disponibil în 18 limbi inclusiv limba noastra
            <span class="portletItemDetails">2010-05-20</span>
        </a>
    </dd>
 

    <dd class="portletItem even">

        <a href="http://mindthebird.com"
           class="tile"
           title="Campanie de lansare Firebird 2.5 - Mindthebird.com">
            Campanie de lansare Firebird 2.5 Mindthebird.com
            <span class="portletItemDetails">2010-03-02</span>
        </a>
    </dd>
 
    
    <dd class="portletItem odd">

        <a href="http://firebirdsql.ro/news/suntem-sub-umbrela-firebirdsql.org-noi-canale-pe"
           class="tile"
           title="Am cerut si am fost admisi pe pagina oficiala firebirdsql.org">
            Suntem sub umbrela firebirdsql.org , noi canale pe twitter, identica , freenode
            <span class="portletItemDetails">2009-06-03</span>
        </a>
    </dd>
    
    
    <dd class="portletItem even">

        <a href="http://firebirdsql.ro/news/comunitatea-firebird-va-fi-prezenta-la-eliberatica.ro"
           class="tile" title="">
            Comunitatea Firebird a fost prezenta la eliberatica.ro
            <span class="portletItemDetails">2009-05-01</span>
        </a>
    </dd>
    
    
    <dd class="portletItem odd">

        <a href="http://firebirdsql.ro/firebird-2.1.3-a-fost-lansat"
           class="tile" title="">
            Firebird versiunea 2.1.3 a fost lansata
            <span class="portletItemDetails">2009-04-21</span>
        </a>
    </dd>
    

    <dd class="portletFooter">
        <a href="http://firebirdsql.ro/news">
          Arhiva Stiri&hellip;
        </a>
    </dd>
    
</dl>
</div>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
{% include 'footer.html' %}
