<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <META HTTP-EQUIV="Expires" content="0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Firebird: The true open source relational database for Windows, Linux, Mac OS X and more</title>

 <meta property="fb:app_id" content="164106886965924" /> 
 <meta property="fb:admins" content="591628600"/>

 <meta property="og:title" content="Firebird: The true open source relational database for Windows, Linux, Mac OS X and more" />
 <meta property="og:description" content="Firebird SQL: The true open-source relational database" />
 
 <meta property="og:image" content="http://firebirdsql.org/img/site/fb.jpg" />
 <meta property="og:site_name" content="Home" />

<link rel="stylesheet" type="text/css" href="http://firebirdsql.org/css/site.css" />
<!--<script src="http://firebirdsql.org/js/swfobject.js" type="text/javascript"></script> -->
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="http://firebirdsql.org/js/jquery.json-1.3.js"></script>
<script type="text/javascript" src="http://firebirdsql.org/js/ajax.js"></script>

<script type="text/javascript" src="http://firebirdsql.org/js/button.js"></script>
<script type="text/javascript" src="http://firebirdsql.ro/js/tab.js"></script>
<script type="text/javascript" src="http://firebirdsql.org/js/functions.js"></script>

<script src="http://firebirdsql.org/js/jquery.lightbox-0.5.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="http://firebirdsql.org/css/jquery.lightbox-0.5.css" />


<script type="text/javascript" src="http://firebirdsql.org/js/mailto.js"></script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2290083-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" class="all">
 <tr>
  <td valign="top"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td> 
  <td valign="top" class="w985">     
    <a href="#" id="top"></a>
<div class="tpad10 top_right_1">
<table cellspacing="0" cellpadding="0" border="0" width="100%"><tr> 
 <td align="right">
                   <a href="http://www.firebirdsql.org/en/contact-us/" class="menu_top">Contact</a>
             <span class="cff">|</span>           <a href="http://www.firebirdsql.org/en/map/" class="menu_top">Harta siteului</a>
         </td>
 <td class="lpad10" width="235"><table cellspacing="0" cellpadding="0" border="0" width="100%"><tr>
 <td class="bg02" width="5" valign="top"><img src="http://firebirdsql.org/img/site/c1_left.gif" alt="" /></td>
 <td class="bg02 pad5">
   <form action="http://www.firebirdsql.org/en/search/" id="cse-search-box">
    <table cellspacing="0" cellpadding="0" border="0" width="100%"><tr>
      <td><span class="cff tbold">Cautare</span></td>
      <td class="lpad5"><input type="text" name="q" class="search_input" /></td>
      <td></td>
    </tr></table> 
    <input type="hidden" name="cx" value="011598593773438818167:_3ynuzbyaoo" />
    <input type="hidden" name="cof" value="FORID:10" />
    <input type="hidden" name="ie" value="UTF-8" />
   </form>
 </td>
 <td class="bg02" width="5" valign="top"><img src="http://firebirdsql.org/img/site/c1_right.gif" alt="" /></td>
</tr></table>
<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=en"></script>  </td>
</tr></table>
</div>
<div class="bg_top">
<table cellspacing="0" cellpadding="0" border="0" width="100%"><tr>
 <td align="left"><a href="http://www.firebirdsql.org/en/start/"><img src="http://firebirdsql.org/img/site/fierbird.jpg" alt="" /></a></td>
 <td align="right"><img src="http://firebirdsql.org/img/site/top_right.jpg" alt="" /></td>
</tr></table>
</div>     <div class="bg_info">
    <table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
      <td valign="top" width="5"><img src="http://firebirdsql.org/img/site/c2_left.gif" alt="" /></td>
      <td valign="top" class="pad5">
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
 <tr>
   <td width="5"><img src="http://firebirdsql.org/img/site/c3_lt.gif" alt="" /></td>
   <td class="c3_bg_t" height="5"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
   <td width="5"><img src="http://firebirdsql.org/img/site/c3_rt.gif" alt="" /></td>
 </tr>
 
 <tr>
   <td class="c3_bg_l"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
   <td >
        <div class="bg_menu">
      <table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
       <td width="5" valign="top"><img src="http://firebirdsql.org/img/site/c4_lt.gif" alt="" /></td>
       <td class="tpad5 lpad15 rpad15">
         <table border="0" cellspacing="0" cellpadding="0"><tr>
                                                  <td class="bg_menu_center" width="5" valign="top"><img src="http://firebirdsql.org/img/site/c5_lt.gif" alt="" /></td>             <td class="lpad10 rpad10 tpad10 bpad5 bg_menu_center">
              <a href="http://www.firebirdsql.org/en/start/" class="up  tbold size12 txt_nund farial c00">Acasă</a>
             </td>
             <td class="bg_menu_center" width="5" valign="top"><img src="http://firebirdsql.org/img/site/c5_rt.gif" alt="" /></td>                                                               <td class="lpad10 rpad10 tpad10 bpad5 ">
              <a href="http://www.firebirdsql.org/en/about-firebird/" class="up  tbold size12 txt_nund farial cff">Despre Firebird</a>
             </td>
                                                                            <td class="lpad10 rpad10 tpad10 bpad5 ">
              <a href="http://www.firebirdsql.org/en/downloads/" class="up  tbold size12 txt_nund farial cff">Descarcă</a>
             </td>
                                                                            <td class="lpad10 rpad10 tpad10 bpad5 ">
              <a href="http://www.firebirdsql.org/en/documentation/" class="up  tbold size12 txt_nund farial cff">Documentaţie</a>
             </td>
                                                                            <td class="lpad10 rpad10 tpad10 bpad5 ">
              <a href="http://www.firebirdsql.org/en/community/" class="up  tbold size12 txt_nund farial cff">Comunitate</a>
             </td>
                                                                            <td class="lpad10 rpad10 tpad10 bpad5 ">
              <a href="http://www.firebirdsql.org/en/support/" class="up  tbold size12 txt_nund farial cff">Ajutor</a>
             </td>
                                                                            <td class="lpad10 rpad10 tpad10 bpad5 ">
              <a href="http://www.firebirdsql.org/en/development/" class="up  tbold size12 txt_nund farial cff">Dezvoltare</a>
             </td>
                                                                            <td class="lpad10 rpad10 tpad10 bpad5 ">
              <a href="http://www.firebirdsql.org/en/case-studies/" class="up  tbold size12 txt_nund farial cff">Studii de caz</a>
             </td>
                                 </tr></table>
       </td>
       <td width="5" valign="top"><img src="http://firebirdsql.org/img/site/c4_rt.gif" alt="" /></td>
      </tr></table>
    </div>
        <div class="lpad20 tpad5"><div>
  <table cellspacing="0" cellpadding="0" border="0"><tr>  
    <td><span class="tbold size11">Sunteti aici:</span></td>   
      
    <td align="left" class="lpad10">
      <a href="http://www.firebirdsql.org/en/start/" class="page_menu">Acasă</a>
    </td>
                   </tr></table>
</div></div>     
   </td>
   <td class="c3_bg_r"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
 </tr>
 
 <tr>
   <td ><img src="http://firebirdsql.org/img/site/c3_lb.gif" alt="" /></td>
   <td class="c3_bg_b" height="5"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
   <td ><img src="http://firebirdsql.org/img/site/c3_rb.gif" alt="" /></td>
 </tr>
</table>         <div class="tpad20 bpad10">
          <table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
                        <td valign="top" class="w235">
              <div class="bpad10"><div id="banners_4">
 <script type="text/javascript">
   $(document).ready(function(){ GetBanners (4) });
 </script>
</div></div>
              <div class="bpad10"><table border="0" cellspacing="0" cellpadding="0" width="100%">
 <tr>
   <td width="4"><img src="http://firebirdsql.org/img/site/c7_lt.gif" alt="" /></td>
   <td class="c7_bg_t lpad10 rpad5" height="4"><table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
       <td align="left" class="tpad5"><span class="cff size18">Alăturaţi-vă proiectului!</span></td>
       <td align="right"><img src="http://firebirdsql.org/img/site/donate.png" alt="" /></td>
     </tr></table></td>
   <td width="4"><img src="http://firebirdsql.org/img/site/c7_rt.gif" alt="" /></td>
 </tr>
 
 <tr>
   <td class="c7_bg_l"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
   <td class="bg_block pad5">
      <div class="bpad5"><span class="c80">Alăturaţi-vă Fundaţiei Firebird SQL pentru a sprijini dezvoltarea sa şi primi beneficii multiple</span></div>        
      <div class="tpad10 bpad10">
        <table cellspacing="0" cellpadding="0" border="0" align="right"><tr>
          <td width="5"><img src="http://firebirdsql.org/img/site/btn_3_left.gif" alt="" /></td>
          <td class="bg_btn_3 lpad10 rpad10">
           <a href="http://www.firebirdsql.org/en/membership/" class="btn_3">Alăturaţi-vă</a>
          </td>
          <td width="5"><img src="http://firebirdsql.org/img/site/btn_3_right.gif" alt="" /></td>
        </tr></table> 
              </div>
   </td>
   <td class="c7_bg_r"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
 </tr>
 
 <tr>
   <td ><img src="http://firebirdsql.org/img/site/c7_lb.gif" alt="" /></td>
   <td class="c7_bg_b" height="4"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
   <td ><img src="http://firebirdsql.org/img/site/c7_rb.gif" alt="" /></td>
 </tr>
</table></div>
              <div class="bpad10"><table border="0" cellspacing="0" cellpadding="0" width="100%">
 <tr>
   <td width="4"><img src="http://firebirdsql.org/img/site/c7_lt.gif" alt="" /></td>
   <td class="c7_bg_t lpad10 rpad5" height="4">
     <table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
       <td align="left" class="tpad5"><span class="cff size18">Urmăriţi-ne</span></td>
       <td align="right"><img src="http://firebirdsql.org/img/site/join_us.png" alt="" /></td>
     </tr></table>
   </td>
   <td width="4"><img src="http://firebirdsql.org/img/site/c7_rt.gif" alt="" /></td>
 </tr>
 
 <tr>
   <td class="c7_bg_l"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
   <td class="bg_block pad5">
      <div class="bpad5"><span class="c80">Selectaţi mediul preferat</span></div>
        
      <div class="tpad10 bpad10 ">
        <table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
	  <td align="center"><a href="https://plus.google.com/111558763769231855886" rel="publisher" target="_blank"><img src="http://firebirdsql.org/img/site/gp.png" width="32" height="32" alt="Google+"></a></td>
          <td align="center"><a href="http://twitter.com/firebirdsql/" target="_blank"><img src="http://firebirdsql.org/img/site/tweeter.png" alt="" /></a></td>
          <td align="center"><a href="http://www.facebook.com/pages/FirebirdSQL/46546452369" target="_blank"><img src="http://firebirdsql.org/img/site/facebook.png" alt="" /></a></td>
          <td align="center"><a href="http://www.firebirdsql.org/rss/en/news.xml" target="_blank"><img src="http://firebirdsql.org/img/site/rss.png" alt="" /></a></td>
                 </tr></table>
      </div>
   </td>
   <td class="c7_bg_r"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
 </tr>
 
 <tr>
   <td ><img src="http://firebirdsql.org/img/site/c7_lb.gif" alt="" /></td>
   <td class="c7_bg_b" height="4"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
   <td ><img src="http://firebirdsql.org/img/site/c7_rb.gif" alt="" /></td>
 </tr>
</table></div>
              <div class="bpad10"><table border="0" cellspacing="0" cellpadding="0" width="100%">
 <tr>
   <td width="4"><img src="http://firebirdsql.org/img/site/c7_lt.gif" alt="" /></td>
   <td class="c7_bg_t lpad10 rpad5" height="4">
     <table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
       <td align="left" class="tpad5"><span class="cff size18">Newsletter</span></td>
       <td align="right"><img src="http://firebirdsql.org/img/site/newsletter.png" alt="" /></td>
     </tr></table>
   </td>
   <td width="4"><img src="http://firebirdsql.org/img/site/c7_rt.gif" alt="" /></td>
 </tr>
 
 <tr>
   <td class="c7_bg_l"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
   <td class="bg_block pad5">              
      <form action="http://dfp.firebirdsql.org/en/subscribe/" method="post">
       <div class="bpad5"><span class="c80">Aboneaza-te la Newsletterul Firebird pentru a primi cele mai recente ştiri</span></div>
       <table width="100%"><tr>
        <td><input type="text" onfocus="clearForm()" value="e-mail" class="subscribe" name="email" id="email" /></td>
        <td width="5"><input type="image" src="http://firebirdsql.org/img/site/btn_ok.gif" name="btn_ok" /> </td>
       </tr></table>
      </form>
   </td>
   <td class="c7_bg_r"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
 </tr>
 
 <tr>
   <td ><img src="http://firebirdsql.org/img/site/c7_lb.gif" alt="" /></td>
   <td class="c7_bg_b" height="4"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
   <td ><img src="http://firebirdsql.org/img/site/c7_rb.gif" alt="" /></td>
 </tr>
</table></div>
            </td>
                                    <td class="lpad5" valign="top" >
              <script type="text/javascript">
 $(document).ready(function() {$("#idTabMenu").htmlMenuTab(
    {staticURL: '' } 
  );});
</script>
<div id="idTabMenu">
<table border="0" cellspacing="0" cellpadding="0"><tr>
 <td id="idTd_1" width="8" valign="top" class="ver_l_bg">
  <img id="idImg_1" src="http://firebirdsql.org/img/site/menu/ver_l.gif" alt="" />  
   </td>
  <td width="169" valign="top">
  <div class="cpointer" id="idDiv_1"  >
   <div><img id="idImgTop_1" src="http://firebirdsql.org/img/site/menu/top_sel.png" alt="" /></div>
   <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="2" class="tmen_l"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
      <td height="44" class="tmen_bg_txt" align="center" valign="middle">
        <img src="http://firebirdsql.org/img/site/menu/welcome.png" alt="Welcome" />
      </td>
      <td width="2" class="tmen_r"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
    </tr>
   </table>
   <div><img id="idImgBottom_1" src="http://firebirdsql.org/img/site/menu/bottom_sel.png" alt="" /></div>
   <div class="lpad5 rpad5 bpad5"><span id="idSpan_1" class="tbold size11 c02 ">Urmăriţi cele mai recente ştiri, evenimente, comunicate, precum şi studii de caz</span></div>
  </div>
 </td> 
  <td id="idTd_2" width="8" valign="top" 
  class="ver_r_bg"
   >
  <img id="idImg_2" src="http://firebirdsql.org/img/site/menu/ver_r.gif" alt="" />
   </td>
  <td width="169" valign="top">
  <div class="cpointer" id="idDiv_2" >
   <div><img id="idImgTop_2" src="http://firebirdsql.org/img/site/menu/top.png" alt="" /></div>
   <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="2" class="tmen_l"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
      <td height="44" class="tmen_bg_txt" align="center" valign="middle">
        <img src="http://firebirdsql.org/img/site/menu/get.png" alt="Get Started" />
      </td>
      <td width="2" class="tmen_r"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
    </tr>
   </table>
   <div><img id="idImgBottom_2" src="http://firebirdsql.org/img/site/menu/bottom.png" alt="" /></div>
   <div class="lpad5 rpad5 bpad5"><span id="idSpan_2" class="tbold size11 c54 ">Procedati mai departe cu o introducere ce va ghideaza catre cateva link-uri utile despre Firebird</span></div>
  </div>
 </td> 
  <td id="idTd_3" width="8" valign="top" 
    >
  <img id="idImg_3" src="http://firebirdsql.org/img/site/vid.gif" alt="" /> </td>
  <td width="169" valign="top">
  <div class="cpointer" id="idDiv_3" >
   <div><img id="idImgTop_3" src="http://firebirdsql.org/img/site/menu/top.png" alt="" /></div>
   <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="2" class="tmen_l"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
      <td height="44" class="tmen_bg_txt" align="center" valign="middle">
        <img src="http://firebirdsql.org/img/site/menu/stay.png" alt="Stay in Touch" />
      </td>
      <td width="2" class="tmen_r"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
    </tr>
   </table>
   <div><img id="idImgBottom_3" src="http://firebirdsql.org/img/site/menu/bottom.png" alt="" /></div>
   <div class="lpad5 rpad5 bpad5"><span id="idSpan_3" class="tbold size11 c54 ">Verificati roadmapul, binarele si documentaţia curenta</span></div>
  </div>
 </td> 
  <td id="idTd_4" width="8" valign="top" 
    >
  <img id="idImg_4" src="http://firebirdsql.org/img/site/vid.gif" alt="" /> </td>
  <td width="169" valign="top">
  <div class="cpointer" id="idDiv_4" >
   <div><img id="idImgTop_4" src="http://firebirdsql.org/img/site/menu/top.png" alt="" /></div>
   <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="2" class="tmen_l"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
      <td height="44" class="tmen_bg_txt" align="center" valign="middle">
        <img src="http://firebirdsql.org/img/site/menu/consider.png" alt="Contribute" />
      </td>
      <td width="2" class="tmen_r"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
    </tr>
   </table>
   <div><img id="idImgBottom_4" src="http://firebirdsql.org/img/site/menu/bottom.png" alt="" /></div>
   <div class="lpad5 rpad5 bpad5"><span id="idSpan_4" class="tbold size11 c54 ">Aflaţi cum să aplicaţi abilităţile dumneavoastră sau resursele pentru a ajuta Firebird</span></div>
  </div>
 </td> 
  <td id="idTd_5" width="8" valign="top" >
  <img id="idImg_5" src="http://firebirdsql.org/img/site/vid.gif" alt="" /> </td>
</tr>

<tr>
 <td id="idTd_1b" height="2" ><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
 <td id="idTd_2b" ><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
 <td id="idTd_3b" >
   <img id="idImg_1b" src="http://firebirdsql.org/img/site/menu/or_r.gif" alt="" />
      
 </td>
 <td id="idTd_4b" class="or_bg"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
 <td id="idTd_5b" class="or_bg">
  <img id="idImg_2b" src="http://firebirdsql.org/img/site/vid.gif" alt="" /> </td>
 <td id="idTd_6b" class="or_bg"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td> 
 <td id="idTd_7b" class="or_bg">
  <img id="idImg_3b" src="http://firebirdsql.org/img/site/vid.gif" alt="" /> </td>
 <td id="idTd_8b" class="or_bg"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
 <td id="idTd_9b" class="or_bg"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
</tr> 

</table>
</div>                                                        


 <div class="tpad20" id="idBlockInfo">
               <table border="0" cellspacing="0" cellpadding="0" width="100%"><tbody><tr>
                                 <td valign="top">                  
                                        <fieldset>
                       <legend>Stiri despre proiect</legend>
     {% if latest_news_list %}     
     {% for news in latest_news_list %}
 <div class="bborder_ff"><div class="pad15 bborder_cf">
     <div><span class="size11"> {{ news.publication_date }}</span></div>

          <div>
           <a href="{{ news.url }}" class="size16 c05 txt_nund"> {{ news.title }}</a>
          </div>
          <div class="tpad15">
          {{ news.body|safe }}
          </div>
     </div>
    </div>  
    
     {% endfor %}
     {% endif %}
 <div class="tpad10 rpad10">
     <table align="right"><tbody><tr>
      <td><a href="http://www.firebirdsql.org/en/news/" class="tbold c05 txt_nund">Mai multe ştiri</a></td>
      <td><img src="http://www.firebirdsql.org/img/site/s2.gif" alt=""></td>
    </tr></tbody></table>
  </div> 

                    </fieldset>
                                     </td>
                 <td valign="top" width="235" class="lpad10">
                   <div class="bpad10"><div id="banners_5">
 <script type="text/javascript">
   $(document).ready(function(){ GetBanners (5) });
 </script>
</div></div>                    <div class="bpad10"><fieldset>
  <legend>Studii de caz</legend>
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tr>
    <td class="lp bpad10 tpad10" width="25" align="center" valign="top"><img alt="" src="/img/site/s2.gif" /></td>
    <td class="lp bpad10 tpad5">
     <div>Siguranţa Producţiei în Industria Grafica</div>
     <div class="tpad5"><a href="http://www.firebirdsql.org/en/case-studies-catalog/production-safety-in-the-graphic-industry-15334/" class="c05 txt_nund">Citeşte mai departe</a></div>
    </td>
   </tr>
      <tr>
    <td class="lp bpad10 tpad10" width="25" align="center" valign="top"><img alt="" src="/img/site/s2.gif" /></td>
    <td class="lp bpad10 tpad5">
     <div>Sisteme Puncte de vanzare (POS) pentru Industria de Spălare Auto (Carwash)</div>
     <div class="tpad5"><a href="http://www.firebirdsql.org/en/case-studies-catalog/point-of-sale-systems-for-the-carwash-industry-12664/" class="c05 txt_nund">Citeşte mai departe</a></div>
    </td>
   </tr>
      <tr>
    <td class="bpad10  tpad10" width="25" align="center" valign="top"><img alt="" src="/img/site/s2.gif" /></td>
    <td class="bpad10  tpad5">
     <div>Sistemul analitic medical pentru Spitalul Orasului Moscova  # 31</div>
     <div class="tpad5"><a href="http://www.firebirdsql.org/en/case-studies-catalog/medical-analytical-system-for-moscow-city-hospital-31-12651/" class="c05 txt_nund">Citeşte mai departe</a></div>
    </td>
   </tr>
     </table> 
  <div class="tborder_cf"><div class="tpadt tborder_ff">
    <table align="right"><tr>
      <td><a class="tbold c05 txt_nund" href="http://www.firebirdsql.org/en/case-studies-catalog/">Mai multe studii de caz</a></td>
      <td><img alt="" src="/img/site/s2.gif" /></td>
    </tr></table>
  </div></div>
</fieldset></div>
                 </td>
                             </tr></table> 
              </div>
                                        </td>
                      </tr></table>
        </div>
      </td>
      <td valign="top" width="5"><img src="http://firebirdsql.org/img/site/c2_right.gif" alt="" /></td>
    </tr></table>
    </div>
  </td>
  <td><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td> 
 </tr>
 
 
 
</tr></table></td>
  <td class="tborder_cf bborder_cf bgff"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
 </tr>
 <tr>
  <td height="50" class="tborder_ff"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
  <td class="tborder_ff" valign="middle"><div class="rpad10">
<table width="100%"><tr>
 <td class="rpad5" width="30%"><span class="c76 size11">Aceste site si conţinutul din pagini au Copyright © 2000-2013, Firebird Project.
Firebird ® este o marcă înregistrată a Fundaţiei Firebird</span></td>
 <td class="rpad5 lpad5" width="30%">
       </td>
 <td align="right" width="10%"><span class="c76 size11">Dezvoltat de</span> <a href="http://www.dqteam.com/" class="size11" target="_blank">DQ Team</a>.</td>
</tr></table>
</div></td>
  <td class="tborder_ff"><img src="http://firebirdsql.org/img/site/vid.gif" alt="" /></td>
 </tr>
 
</table>
{% include 'footer.html' %}
