{% include 'header.html' %}
      <table id="portal-columns">
        <tbody>
          <tr>
            
            <td id="portal-column-one">
              <div class="visualPadding">
                
                &nbsp;
              </div>
            </td>
            

            
            <td id="portal-column-content">

              
                <div class="">

                  


                  <div id="region-content" class="documentContent">

                    <span id="contentTopLeft"></span>
                    <span id="contentTopRight"></span>
                    
                    <a name="documentContent"></a>

                    

    <dl class="portalMessage info" id="kssPortalMessage" style="display:none">
        <dt>Info</dt>
        <dd></dd>
    </dl>


                    
                    <div id="viewlet-above-content"></div>

                    
                    
                    <div id="content">
                      
                      
    

        

        <h1 class="documentFirstHeading"> 
            
        <span class="" id="parent-fieldname-title">
            SGBD Firebird
        </span>
    
        </h1>

        



        <p class="documentDescription">
            
        <span class="" id="parent-fieldname-description">
            Sistem de Gestiune al Bazelor de Date Firebird
        </span>
    
        </p>

        



        

        
        <div class="" id="parent-fieldname-text">
            
<p>Dacă sunteţi novice în utilizarea Firebird, înainte de a descărca kitt-ul de instalare citiţi 'notiţele' versiunii!</p>
<p>Ultima versiune stabila lansata este <a class="external-link" href="http://www.firebirdsql.org/index.php?op=devel&amp;sub=engine&amp;id=fb25_release">Firebird 2.5.0</a></p>
<p>Lista cu schimbari si <a class="external-link" href="http://www.firebirdsql.org/devel/doc/rlsnotes/html/rlsnotes25.html">buguri rezolvate</a> &nbsp;in 2.5.0 este impresionanta &nbsp;</p>
<p>SGBD Firebird se prezintă în 4 versiuni putând alege una din
arhitecturile: Clasic sau SuperServer sau noua Arhitectura SuperClassic.
Arhitectura Embedded este identică cu cea de superserver! Versiunile sunt:</p>
<table class="invisible">
<tbody>
<tr>
<td>&nbsp;<a class="external-link" href="http://www.firebirdsql.org/index.php?op=files&amp;id=engine_250"><img class="image-inline image-inline" src="http://www.firebirdsql.org/images/download_250.gif" alt="download_250.gif" /></a></td>
<td>&nbsp;<a class="external-link" href="http://www.firebirdsql.org/index.php?op=files&amp;id=engine_213"><img class="image-inline image-inline" src="http://www.firebirdsql.org/images/download_213.gif" alt="download_212.gif" /></a></td>
<td align="center">&nbsp;<a class="external-link" href="http://www.firebirdsql.org/index.php?op=files&amp;id=snapshots"><img class="image-inline image-inline" src="http://www.firebirdsql.org/images/snapshots.gif" alt="snapshots.gif" /></a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Arhitecturi:</p>
<ul><li>Clasic: permite conectarea mai multor procese Firebird la aceaşi bază de date.Se recomandă în cazul serverelor multiprocesor intens utilizate. Fiecare conexiune va crea un nou proces Firebird!<br /></li><li>Superserver: oferă un singur proces ce accesează toate bazele de date. Această arhitectură nu suportă multiprocesor, aceasta urmând a fi implementatî din versiunile &gt; 2.5 !</li></ul>
Mai multe informaţii şi detalii tehnice găsiţi <a class="external-link" href="http://www.ibphoenix.com/main.nfs?a=ibphoenix&amp;page=ibp_ss_vs_classic">aici</a> ! Un alt articol unde se descrie visual arhitecturile de mai sus exista pe <a class="external-link" href="http://www.sinatica.com/blog/en/index.php/articles/firebird-superserver-classicserver-or-superclassic">acest blog</a>
<p>&nbsp;</p>
Sistemele de operare suportate sunt <strong>Windows </strong>32-bit şi 64-bit(Firebird 2.x), 
<strong>Linux</strong> (&gt;i586 , 64 de biti), 
<strong>Solaris</strong> (Sparc si Intel), <strong>HP-UX</strong> (PA-Risc), <strong>FreeBSD</strong> şi 
<strong>MacOS X </strong>!<strong><br /></strong>
            
        </div>
    

        <div class="relatedItems">
    
        
            
        
    
</div>
    

<div class="reviewHistory" id="review-history">
    
</div>


    

                    </div>
                    

                    
                    
                      
    




                    
                    

                    <span id="contentBottomLeft"></span>
                    <span id="contentBottomRight"></span>

                  </div>

                </div>

              
            </td>
            

            
            <td id="portal-column-two">
              <div class="visualPadding">
                &nbsp;
              </div>
            </td>
            
          </tr>
        </tbody>
      </table>
      

      <div class="visualClear" id="clear-space-before-footer"><!-- --></div>
      
      

      


</div>


      

      <div class="visualClear"><!-- --></div>
    </div>
<div id="kss-spinner"><img alt=""
                           src="http://firebirdsql.ro/spinner.gif" /></div>
</body>
</html>


